{"http_interactions":[{"request":{"method":"get","uri":"https://api.digitalocean.com/v2/droplets","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["Bearer t00ken"]}},"response":{"status":{"code":401,"message":"Unauthorized"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["401 Unauthorized"], "Www-Authenticate":["Bearer realm=\"DigitalOcean\", error=\"invalid_token\", error_description=\"The access token is invalid\""]},"body":{"encoding":"UTF-8","string":"{\"id\":\"unauthorized\",\"message\":\"Unable to authenticate you.\"}"},"http_version":null},"recorded_at":"Fri, 10 Oct 2014 11:18:51 GMT"}],"recorded_with":"VCR 2.9.3"}